<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Movies</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<main>
    <div class="container-heading">
        <h1  style="padding: 1rem 0"><span style="border-bottom:solid 2px dodgerblue;padding-bottom: .5rem">Top</span> Movies</h1>
        <p>These are my all time top movies</p>
    </div>

    <div class="movies">
        {% if not my_movies %}
         <h1>Movie Not Available Yet.</h1>
     </div>
        {% else %}
        {% for movie in my_movies %}
        <div  class="movie">
            <img onmouseover="showDetails()" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{movie.img_url}}" alt="{{movie.title}}">
            <p class="movie-rank">{{movie.popularity}}</p>
        </div>
        <div class="movie-details">
     <div class="details">
         <h2>{{ movie.title }} <span style="font-weight: inherit;color: gray">({{movie.year.split()[0]}})</span></h2>
     <h3 class="rating">{{ movie.vote_average }} ⭐</h3>
     <p>{{ movie.summary }}</p>
     </div>
     <div class="btn-group">
         <button type="button" class="btn btn-primary">Update</button>
         <button type="button" class="btn btn-danger" onclick="((e)=>showMoviesList(e))()">Cancel</button>
     </div>
 </div>
        {% endfor %}
         <div class="btn-group">
         <button type="button" class="btn btn-primary"> <a href="{{url_for('add_new_movie')}}">Add movie</a></button>
           </div>
        {% endif %}
    </div>
</main>
<script src="/static/js/script.js"></script>
</body>
</html>