<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<main>
   <div class="movie-details">
     <div class="details">
         <h2>{{ movie.title }} <span style="font-weight: inherit;color: gray">({{movie.year}})</span></h2>
     <h3 class="rating">{{ movie.rating }} ⭐</h3>
     <p>{{ movie.description }}</p>
     </div>
     <div class="btn-group">
         <button type="button" class="btn btn-primary">Update</button>
         <button type="button" class="btn btn-danger">Cancel</button>
     </div>
 </div>
    </main>
</body>
</html>